//META{"name":"Ferris-Chan Theme","description":"Tema dedicado al fandom del personaje Félix Argyle y en especial a Xero-Chan.","author":"Devsaider","version":"1.5"}*//{}

/*Ferris-Chan Theme*/

/* IMPORTABLE CSS GENERAL (NO REMOVER) */
@import url(https://gitcdn.xyz/repo/MrDevsaider/DevScord-Themes/master/ThemesBase/FerrisChanBase.min.css);
/*
---------------------------------------------------------------------------------------------------------------------------------------------
>>>Importante
Changelog: https://github.com/MrDevsaider/DevScord-Themes/blob/master/Changelog/FerrisChanTheme.md
---------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
>>> COLORES EDITABLES
*/
:root {
    --main-color: #F000FF;
    --hover-color: #a71eb3;
    --background-blur: 0px;
    --background-brightness: 100%;
}
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
>>> IMAGEN DE FONDO EDITABLE
*/
body::after,
.callout-backdrop,
.user-popout::before,
#user-profile-modal .header::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.light label,
.radio-theme.dark label{
    background-image: url(https://hobbyscratchdotcom.files.wordpress.com/2017/05/thumb-1920-729539.png?w=1000&h=625) !important; 
    /* HTTPS Requerido por cifrado SSL (Discord lo requiere) */
}
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
