//META{"name":"Ferris-Chan Theme","description":"Tema dedicado al fandom del personaje Félix Argyle y en especial a Xero-Chan.","author":"<a href='https://github.com/MrDevsaider' target='_blank'>@MrDevsaider</a>","version":"1"}*//{}

/*Ferris-Chan Theme*/

/* IMPORTABLE CSS GENERAL (NO REMOVER) */
@import url(https://gitcdn.xyz/repo/MrDevsaider/DevScord-Themes/ThemesBase/master/css/FerrisChanBase.min.css);
/*
---------------------------------------------------------------------------------------------------------------------------------------------
>>>Importante
Changelog: 
---------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
>>> COLORES EDITABLES
*/
:root {
    --main-color: #da27e6;
    --hover-color: #a71eb3;
    --background-blur: 0px;
    --background-brightness: 100%;
}
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
>>> IMAGEN DE FONDO EDITABLE
*/
body::after,
.callout-backdrop,
.user-popout::before,
#user-profile-modal .header::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.light label,
.radio-theme.dark label{
    background-image: url(https://i.imgur.com/EKxbsK3.jpg) !important; /* IMPORTANT: Link must be HTTPS! */
}
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
